{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Lengoo Job Portal </h1>
            </div>
        </div>
    </div>
 {% endblock %}
